In [1]:
import urllib.request
import os

In [2]:
#下載鐵達尼號資料集
#這是excel，需要額外安裝套件xlrd 

url = "http://biostat.mc.vanderbilt.edu./wiki/pub/Main/DataSets/titanic3.xls"
filepath = "data/titanic3.xls"
if not os.path.isfile(filepath):
    os.makedirs("data")
    result = urllib.request.urlretrieve(url, filepath)
    print('download:', result)

download: ('data/titanic3.xls', <http.client.HTTPMessage object at 0x0000000005AA6EF0>)

## 使用Pandas dataframe 讀取資料並進行預處理

In [3]:
import numpy
import pandas as pd

In [5]:
all_df = pd.read_excel(filepath)

ImportError: Install xlrd >= 1.0.0 for Excel support

In [5]:
all_df[:2]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"

In [6]:
cols = ['survived', 'name', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked']
all_df = all_df[cols]

In [7]:
all_df[:2]

,survived,name,pclass,sex,age,sibsp,parch,fare,embarked
0,1,"Allen, Miss. Elisabeth Walton",1,female,29.0000,0,0,211.3375,S
1,1,"Allison, Master. Hudson Trevor",1,male,0.9167,1,2,151.5500,S

## 使用 Pandas dataframe 進行預處理

In [8]:
df = all_df.drop(['name'], axis=1)

In [9]:
all_df.isnull().sum()

survived      0
name          0
pclass        0
sex           0
age         263
sibsp         0
parch         0
fare          1
embarked      2
dtype: int64

In [10]:
age_mean = df['age'].mean()
df['age'] = df['age'].fillna(age_mean)

In [11]:
fare_mean = df['fare'].mean()
df['fare'] = df['fare'].fillna(fare_mean)

In [12]:
df['sex'] = df['sex'].map({'female': 0, 'male': 1}).astype(int)

In [13]:
x_OneHot_df = pd.get_dummies(data=df, columns=["embarked"])

In [14]:
x_OneHot_df[:2]

,survived,pclass,sex,age,sibsp,parch,fare,embarked_C,embarked_Q,embarked_S
0,1,1,0,29.0000,0,0,211.3375,0,0,1
1,1,1,1,0.9167,1,2,151.5500,0,0,1

## 將 dataframe 轉換為 array

In [15]:
ndarray = x_OneHot_df.values

In [16]:
ndarray.shape

(1309, 10)

In [17]:
ndarray[:2]

array([[  1.    ,   1.    ,   0.    ,  29.    ,   0.    ,   0.    ,
        211.3375,   0.    ,   0.    ,   1.    ],
       [  1.    ,   1.    ,   1.    ,   0.9167,   1.    ,   2.    ,
        151.55  ,   0.    ,   0.    ,   1.    ]])

In [18]:
Label = ndarray[:,0]
Features = ndarray[:,1:]

In [19]:
Label[:2]

array([1., 1.])

In [20]:
Features[:2]

array([[  1.    ,   0.    ,  29.    ,   0.    ,   0.    , 211.3375,
          0.    ,   0.    ,   1.    ],
       [  1.    ,   1.    ,   0.9167,   1.    ,   2.    , 151.55  ,
          0.    ,   0.    ,   1.    ]])

## 將 ndarray 特徵欄位進行標準化

In [21]:
from sklearn import preprocessing

In [25]:
minmax_scale = preprocessing.MinMaxScaler(feature_range=(0,1))

In [26]:
scaleFeatures = minmax_scale.fit_transform(Features)

In [27]:
scaleFeatures[:2]

array([[0.        , 0.        , 0.36116884, 0.        , 0.        ,
        0.41250333, 0.        , 0.        , 1.        ],
       [0.        , 1.        , 0.00939458, 0.125     , 0.22222222,
        0.2958059 , 0.        , 0.        , 1.        ]])

## 將資料分為訓練資料與測試資料

In [29]:
msk = numpy.random.rand(len(all_df)) < 0.8
train_df = all_df[msk]
test_df = all_df[~msk]

In [30]:
print('total', len(all_df),
      'tain', len(train_df),
      'test', len(test_df))

total 1309 tain 1054 test 255

In [31]:
def PreprocessData(raw_df):
    df = raw_df.drop(['name'], axis=1)
    age_mean = df['age'].mean()
    df['age'] = df['age'].fillna(age_mean)
    fare_mean = df['fare'].mean()
    df['fare'] = df['fare'].fillna(fare_mean)
    df['sex'] = df['sex'].map({'female': 0, 'male': 1}).astype(int)
    x_OneHot_df = pd.get_dummies(data=df, columns=["embarked"])
    
    ndarray = x_OneHot_df.values
    Features = ndarray[:,1:]
    Label = ndarray[:,0]
    
    minmax_scale = preprocessing.MinMaxScaler(feature_range=(0,1))
    scaleFeatures = minmax_scale.fit_transform(Features)
    
    return scaleFeatures, Label

In [32]:
train_Features, train_Label = PreprocessData(train_df)
test_Features, test_Label = PreprocessData(test_df)

In [33]:
train_Features[:2]

array([[0.        , 0.        , 0.0241754 , 0.125     , 0.22222222,
        0.2958059 , 0.        , 0.        , 1.        ],
       [0.        , 1.        , 0.39340633, 0.125     , 0.22222222,
        0.2958059 , 0.        , 0.        , 1.        ]])

In [34]:
test_Features[:2]

array([[0.        , 0.        , 0.35578974, 0.        , 0.        ,
        0.40884467, 0.        , 0.        , 1.        ],
       [0.        , 1.        , 0.00105347, 0.125     , 0.22222222,
        0.29142051, 0.        , 0.        , 1.        ]])